{
  "openapi": "3.0.2",
  "paths": {
    "/api/v1/": {
      "get": {
        "summary": "Get health",
        "tags": ["app"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "createdAt": { "type": "string" }
                  },
                  "required": ["status", "createdAt"]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } },
                  "required": ["message"]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } },
                  "required": ["message"]
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } },
                  "required": ["message"]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } },
                  "required": ["message"]
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } },
                  "required": ["message"]
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } },
                  "required": ["message"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/upload/": {
      "post": {
        "tags": ["upload"],
        "parameters": [],
        "requestBody": {
          "description": "Body",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "teamId": { "type": "string" },
                  "file": { "nullable": true }
                },
                "required": ["teamId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "teamId": { "type": "string" },
                    "iconUrl": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "thumbnailUrl": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "iconPath": { "type": "string", "nullable": true },
                    "thumbnailPath": { "type": "string", "nullable": true },
                    "path": { "type": "string", "nullable": true },
                    "type": {
                      "type": "string",
                      "enum": ["image", "gif", "video"]
                    },
                    "aspectRatio": { "type": "number", "nullable": true },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  },
                  "required": ["id", "teamId", "type", "createdAt", "updatedAt"]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } },
                  "required": ["message"]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } },
                  "required": ["message"]
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } },
                  "required": ["message"]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } },
                  "required": ["message"]
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } },
                  "required": ["message"]
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } },
                  "required": ["message"]
                }
              }
            }
          }
        }
      }
    }
  },
  "info": {
    "title": "bundle.social API",
    "description": "The purpose of this API is to provide an easy way to create & schedule social media posts.",
    "version": "1.0.0",
    "contact": { "email": "contact@bundle.social" },
    "termsOfService": "https://bundle.social/terms-of-service"
  },
  "servers": [{ "url": "https://api.bundle.social" }],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": { "type": "apiKey", "name": "x-api-key", "in": "header" }
    }
  },
  "security": [{ "ApiKeyAuth": [] }]
}
